<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page des Filtres</title>
  <link rel="stylesheet" href="path/to/your/styles.css"> <!-- Assurez-vous que le chemin du CSS est correct -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> <!-- Pour les icônes -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet"> <!-- Bootstrap CSS -->
  <style>
    .carousel-item {
      transition: transform 0.5s ease-in-out;
    }
  </style>
</head>
<body>

 <!-- Barre de recherche -->
<div class="search-container">
  <%= form_tag coffees_path, method: :get, class: "search-form" do %>
    <div class="search-bar">
      <%= text_field_tag :query, params[:query], placeholder: "Rechercher par nom de café", class: "form-control custom-search-input" %>
      <button type="submit" class="btn btn-custom search-btn"><i class="fa-solid fa-search"></i></button>
    </div>
  <% end %>
</div>
<!-- Barre de filtres horizontale -->
<div class="filter-bar-container">
  <div class="filter-bar">
    <%= form_tag coffees_path, method: :get, class: "filter-form" do %>
      <%= select_tag :origin, options_for_select(Coffee::ORIGINS), include_blank: "Origine", class: "form-control custom-select", onchange: "this.form.submit()" %>
    <% end %>

    <%= form_tag coffees_path, method: :get, class: "filter-form" do %>
      <%= select_tag :search_strength, options_for_select((1..6).map { |n| ["Force #{n}", n] }, params[:search_strength]), include_blank: "Force du café", class: "form-control custom-select", onchange: "this.form.submit()" %>
    <% end %>

    <%= form_tag coffees_path, method: :get, class: "filter-form" do %>
      <%= select_tag :coffee_type, options_for_select(Coffee::COFFEES_TYPE), include_blank: "Type de café", class: "form-control custom-select", onchange: "this.form.submit()" %>
    <% end %>

    <%= form_tag coffees_path, method: :get, class: "filter-form" do %>
      <%= select_tag :machin_type, options_for_select(Coffee::MACHINS_TYPE), include_blank: "Type de machine", class: "form-control custom-select", onchange: "this.form.submit()" %>
    <% end %>
  </div>
</div>

  <!-- Contenu principal -->
  <div class="container-fluid mt-4">
    <div class="row">
      <!-- Colonne des résultats de café -->
      <div class="col-lg-12">
        <% if @filters_applied %>
          <h1 class="text-center mb-4">Résultats de la recherche - <%= @filter_name %></h1>
          <div class="row">
            <% @coffees.each do |coffee| %>
              <div class="col-md-6 mb-4">
                <% if coffee.photo.key.present? %>
                  <div class="card h-100 coffee-card">
                    <div class="position-relative" style="height: 300px;">
                      <%= link_to coffee_path(coffee) do %>
                        <%= cl_image_tag coffee.photo.key, height: 300, width: 400, crop: :fill, class: "card-img-top" %>
                      <% end %>
                      <div>
                        <% if coffee.favorites.present? %>
                          <!-- Icône de cœur plein pour les cafés favoris -->
                          <%= button_to favorite_path(coffee.favorites.ids), method: :delete, class:"btn-favorite" do %>
                            <i class="fa-solid fa-heart position-in-card"></i>
                          <% end %>
                        <% else %>
                          <!-- Icône de cœur vide pour les cafés non favoris -->
                          <%= button_to coffee_favorites_path(coffee), method: :post, class:"btn-favorite" do %>
                            <i class="fa-regular fa-heart position-in-card"></i>
                          <% end %>
                        <% end %>
                      </div>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title"><%= coffee.name %></h5>
                      <p class="card-text color-gold"><%= coffee.description %></p>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        <% else %>
          <% if @coffees_by_origin.present? %>
            <% @coffees_by_origin.each do |origin, coffees| %>
              <h2 class="text-center mb-4">Cafés de <%= origin %></h2>
              <div id="carouselExampleCaptions_<%= origin.parameterize %>" class="carousel slide">
                <div class="carousel-inner">
                  <% coffees.each_slice(3).with_index do |slice, index| %>
                    <div class="carousel-item <%= 'active' if index.zero? %>">
                      <div class="row">
                        <% slice.each do |coffee| %>
                          <div class="col-md-4 mb-3">
                            <div class="card h-100 coffee-card">
                              <% if coffee.photo.key.present? %>
                                <div class="position-relative" style="height: 300px;">
                                  <%= link_to coffee_path(coffee) do %>
                                    <%= cl_image_tag coffee.photo.key, height: 300, width: 400, crop: :fill, class: "card-img-top" %>
                                  <% end %>
                                  <div>
                                    <% if coffee.favorites.present? %>
                                      <!-- Icône de cœur plein pour les cafés favoris -->
                                      <%= button_to favorite_path(coffee.favorites.ids), method: :delete, class:"btn-favorite" do %>
                                        <i class="fa-solid fa-heart position-in-card"></i>
                                      <% end %>
                                    <% else %>
                                      <!-- Icône de cœur vide pour les cafés non favoris -->
                                      <%= button_to coffee_favorites_path(coffee), method: :post, class:"btn-favorite" do %>
                                        <i class="fa-regular fa-heart position-in-card"></i>
                                      <% end %>
                                    <% end %>
                                  </div>
                                </div>
                                <div class="card-body">
                                  <h5 class="card-title"><%= coffee.name %></h5>
                                  <p class="card-text color-gold"><%= coffee.description %></p>
                                </div>
                              <% end %>
                            </div>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions_<%= origin.parameterize %>" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Précédent</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions_<%= origin.parameterize %>" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Suivant</span>
                </button>
              </div>
            <% end %>
          <% else %>
            <div class="col-md-12">
              <p class="text-center">Aucun café correspondant à vos préférences n'a été trouvé.</p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <!-- Scripts JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
  <script>
  document.addEventListener('DOMContentLoaded', function () {
    // Sélectionnez tous les carousels
    var carousels = document.querySelectorAll('.carousel');

    carousels.forEach(function (carousel) {
      var carouselInstance = new bootstrap.Carousel(carousel, {
        interval: false, // Désactiver le défilement automatique
        wrap: true
      });

      // Ajoutez des événements pour personnaliser les animations
      carousel.addEventListener('slide.bs.carousel', function (event) {
        // Code personnalisé pour les transitions de slide
        console.log('Slide en cours...');
      });

      carousel.addEventListener('slid.bs.carousel', function (event) {
        // Code personnalisé après la transition de slide
        console.log('Slide terminé.');
      });
    });
  });
  </script>
</body>
</html>
