<!-- app/views/coffees/show.html.erb -->

<!-- app/views/coffees/show.html.erb -->
<div class="container my-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card text-center">
        <div class="card-img-top-wrapper position-relative" style="height: 400px; overflow: hidden;">
          <% if @coffee.photo.key.present? %>
            <%= cl_image_tag @coffee.photo.key, class: "card-img-top", style: "width: 100%; height: 100%; object-fit: cover;" %>
          <% end %>
          <div>
            <% if @favorite %>
              <!-- Icône de cœur plein pour les cafés favoris -->
              <%= button_to favorite_path(@favorite), method: :delete do %>
                <i class="fa-solid fa-heart position-in-card"></i>
              <% end %>
            <% else %>
              <!-- Icône de cœur vide pour les cafés non favoris -->
              <%= button_to coffee_favorites_path(@coffee), method: :post do %>
                <i class="fa-regular fa-heart position-in-card"></i>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= @coffee.name %></h5>
          <p class="card-text"><%= @coffee.description %></p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Origine :</strong> <%= @coffee.origin %></li>
            <li class="list-group-item"><strong> Origine précise :</strong> <%= @coffee.brewing_method %></li>
            <li class="list-group-item"><strong>Force :</strong> <%= @coffee.strength %></li>
            <li class="list-group-item"><strong>Type :</strong> <%= @coffee.coffee_type %></li>

            <!-- Ajoutez d'autres informations spécifiques au café -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
