<div class="signin d-flex justify-content-center align-items-center min-vh-100">
  <div class="col-md-6 col-lg-4">
    <h2 class="text-center my-4">Réinitialisation du mot de passe</h2>

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'form-signin' }) do |f| %>
      <%= f.error_notification %>

      <div class="form-group">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { class: 'form-control', autocomplete: "email" },
                    label_html: { class: 'form-label' },
                    label: t('simple_form.labels.user.email') %>
      </div>

  <div class="d-grid gap-2">
        <%= f.button :submit, "Réinitialiser mon mot de passe", class: "btn btn-primary btn-block" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
