<footer class="footer mt-auto">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center mb-4">
        <%= link_to(root_path) do %>
          <%= image_tag("", alt: "Logo", class: "logo img-fluid") %>
        <% end %>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="row">
          <div class="col-sm-6 mb-3">
            <h5>Liens Utiles</h5>
            <ul class="list-unstyled">
              <li><%= link_to "Accueil"%></li>
              <li><%= link_to "Notre Sélection" %></li>
              <li><%= link_to "À Propos" %></li>
            </ul>
          </div>
          <div class="col-sm-6 mb-3">
            <h5>Contactez-nous</h5>
            <ul class="list-unstyled">
              <li>Email: contact@votrecafe.com</li>
              <li>Téléphone: +1234567890</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
        </div>
      </div>
    </div>
  </div>
</footer>

