<% if user_signed_in? %>
  <div class="navbar navbar-expand-sm navbar-light navbar-cafe sticky-top">
    <div class="container-fluid d-flex justify-content-between align-items-center">
      <!-- Section gauche avec le logo -->
      <div class="d-flex align-items-center">
        <%= link_to coffees_path, class: "navbar-brand" do %>
          <%= image_tag("logo.png", alt: "Logo", class: "navbar-logo") %>
        <% end %>
      </div>

      <!-- Champ de recherche centré avec icône de favori à gauche et icône de recherche à droite -->
      <div class="d-flex justify-content-center align-items-center flex-grow-1 search-bar-container">
        <%= link_to profil_path, class: "nav-link position-relative" do %>
          <i class="fas fa-heart"></i>
          <% if current_user&.favorites&.count.to_i > 0 %>
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger favorite-badge">
              <%= current_user.favorites.count %>
              <span class="visually-hidden">unread messages</span>
            </span>
          <% end %>
        <% end %>
      </div>

      <!-- Section droite avec les liens de navigation -->
      <div class="d-flex align-items-center">
        <!-- Icone de panier -->
        <div class="nav-item">
          <%= link_to cart_path, class: "nav-link position-relative" do %>
            <i class="fa fa-shopping-cart"></i>
            <% if current_user&.cart&.cart_items&.count.to_i > 0 %>
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger cart-badge">
                <%= current_user.cart.cart_items.count %>
                <span class="visually-hidden">articles dans le panier</span>
              </span>
            <% end %>
          <% end %>
        </div>

        <div class="dropdown ms-3">
          <a href="#" class="nav-link dropdown-toggle avatar" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag(current_user.photo, style: "width: 65px; border-radius: 50%") %>
          </a>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<!-- Contenu de la page -->
<div class="page-content">
  <!-- Votre contenu de page ici, y compris les boutons "Se connecter" et "S'inscrire" -->
</div>
