<div class="navbar navbar-expand-sm navbar-light navbar-cafe">
  <div class="container container-fluid">
    <div class="d-flex flex-column align-items-start"> <!-- Utilisation de flexbox en colonne pour aligner les éléments -->
      <!-- Icône de favori au-dessus du logo -->
      <div class="nav-item mb-2"> <!-- Margin bottom pour espacement entre les éléments -->
        <%= link_to root_path, class: "navbar-brand" do %>
          <%= cl_image_tag("https://res-console.cloudinary.com/di6bk4n9x/thumbnails/v1/image/upload/v1721207394/QmFyaXN0X2FwcF9ub2JhY2tncm91bmRfbWRqd2hz/drilldown", alt: "Logo", class: "navbar-logo") %> <!-- Remplacer par le chemin de votre image -->
        <% end %>
        <a href="" class="nav-link">
          <i class="fa-regular fa-heart icon-40"></i> <!-- Icône de favori -->
        </a>
      </div>
    </div>

    <!-- Champ de recherche centré -->
    <div class="d-flex justify-content-center flex-grow-1">
      <div class="nav-item">
        <%= form_tag(method: "get", class: "d-flex") do %>
          <input class="form-control search-input" type="search" placeholder="Chercher un café" aria-label="Search" name="query">
        <% end %>
      </div>
    </div>

    <% if user_signed_in? %>
      <div class="nav-item ms-auto"> <!-- Utilisation de ms-auto pour pousser vers la droite -->
        <!-- Dropdown à droite de la barre de navigation -->
        <div class="dropdown">
          <a href="#" class="nav-link dropdown-toggle avatar" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= cl_image_tag("https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", alt: "dropdown menu") %>
          </a>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
          </div>
          <a href="" class="nav-link">
            <i class="fa-solid fa-magnifying-glass icon-40"></i>
          </a>
        </div>
      </div>
    <% else %>
      <div class="nav-item ms-auto"> <!-- Utilisation de ms-auto pour pousser vers la droite -->
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      </div>
    <% end %>
  </div>
</div>
