<% if user_signed_in? %>
  <div class="navbar navbar-expand-sm navbar-light navbar-cafe sticky-top">
    <div class="container-fluid d-flex justify-content-between align-items-center">
      <!-- Section gauche avec le logo -->
      <div class="navbar-brand">
        <%= link_to root_path do %>
          <%= image_tag("logo.png", alt: "Logo", class: "navbar-logo") %>
        <% end %>
      </div>

      <!-- Liens de navigation principaux au centre -->
      <div class="d-flex justify-content-center align-items-center flex-grow-1">
        <%= link_to "Accueil", root_path, class: "nav-link mx-2 custom-nav-link" %>
        <%= link_to "Nos coups de coeur", coffees_path(sort: 'top_rated'), class: "nav-link mx-2 custom-nav-link" %>
        <%= link_to "Voir tous les cafés", coffees_path(sort: 'coffee'), class: "nav-link mx-2 custom-nav-link" %>
        <%= link_to "Cafés d'origine", coffees_path(filter: 'origin'), class: "nav-link mx-2 custom-nav-link" %>
        <%= link_to "Contact", contact_path, class: "nav-link mx-2 custom-nav-link" %>
      </div>

      <!-- Section droite avec le coeur, le panier et le menu utilisateur -->
      <div class="d-flex align-items-center">
        <!-- Icône de coeur (favoris) -->
        <div class="nav-item mx-2 position-relative">
          <%= link_to profil_path, class: "nav-link" do %>
            <i class="fas fa-heart fa-lg"></i>
          <% end %>
          <% if current_user&.favorites&.count.to_i > 0 %>
            <span class="badge rounded-pill favorite-badge position-absolute start-0">
              <%= current_user.favorites.count %>
              <span class="visually-hidden">Nombre de favoris</span>
            </span>
          <% end %>
        </div>

        <!-- Icône de panier -->
        <div class="nav-item mx-2 position-relative">
          <% if current_user&.cart.present? %>
            <%= link_to cart_path(current_user.cart), class: "nav-link" do %>
              <i class="fa fa-shopping-cart fa-lg"></i>
            <% end %>
          <% else %>
            <%= link_to "#", class: "nav-link", disabled: true do %>
              <i class="fa fa-shopping-cart fa-lg"></i>
            <% end %>
          <% end %>
          
          <!-- Affichage du badge avec le nombre d'articles dans le panier -->
          <% if current_user&.cart&.cart_items&.count.to_i > 0 %>
            <span class="badge rounded-pill cart-badge position-absolute start-0">
              <%= current_user.cart.cart_items.count %>
              <span class="visually-hidden">Votre panier</span>
            </span>
          <% end %>
        </div>

        <!-- Menu utilisateur -->
        <div class="dropdown ms-3 me-4"> <!-- Ajout de me-4 pour la marge -->
          <a href="#" class="nav-link dropdown-toggle avatar" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag(current_user.photo || 'default_avatar.png', style: "width: 40px; border-radius: 50%") %>
          </a>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "Mon profil", profil_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<!-- Contenu de la page -->
<div class="page-content">
  <!-- Votre contenu de page ici -->
</div>
