<div class="container-fluid d-flex align-items-center justify-content-center full-height <%= user_signed_in? ? 'authenticated-background' : 'home-page-unauthenticated' %>">
  <div class="row justify-content-center w-100">
    <div class="col-12">
      <% if user_signed_in? %>
        <!-- Modal qui contient le formulaire -->
        <div class="modal fade" id="coffeePreferencesModal" tabindex="-1" aria-labelledby="coffeePreferencesModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content" style="background-color: #f5f5f5; color: #333;">
              <div class="modal-header d-flex justify-content-center" style="background-color: #444; color: white;">
                <h5 class="modal-title w-100 text-center" id="coffeePreferencesModalLabel">Bonjour <%= current_user.user_name %> !</h5>
              </div>
              <div class="modal-body">
                <!-- Message de bienvenue à l'intérieur du modal -->
                <p class="text-center">Choisissez vos préférences ci-dessous :</p>

                <!-- Formulaire de préférences de café -->
                <%= form_with(url: coffees_path, method: :get, local: true) do |form| %>

                  <!-- Type de machine -->
                  <div class="form-group">
                    <%= form.label :machin_type, "Quelle machine à café utilises-tu ?" %><br>
                    <div class="tag-wrapper">
                      <% Coffee::MACHINS_TYPE.each do |machin_type| %>
                        <div class="tag-item">
                          <%= form.radio_button :machin_type, machin_type, id: "machin_type_#{machin_type}" %>
                          <label for="machin_type_<%= machin_type %>"><%= machin_type %></label>
                        </div>
                      <% end %>
                    </div>
                  </div>

                  <!-- Type de café -->
                  <div class="form-group">
                    <%= form.label :coffee_type, "Quel style de café préfères-tu ?" %><br>
                    <div class="tag-wrapper">
                      <% Coffee::COFFEES_TYPE.each do |coffee_type| %>
                        <div class="tag-item">
                          <%= form.radio_button :coffee_type, coffee_type, id: "coffee_type_#{coffee_type}" %>
                          <label for="coffee_type_<%= coffee_type %>"><%= coffee_type %></label>
                        </div>
                      <% end %>
                    </div>
                  </div>

                  <!-- Origine du café -->
                  <div class="form-group">
                    <%= form.label :origin, "Quelles origines de café préfères-tu ?" %><br>
                    <div class="tag-wrapper">
                      <% Coffee::ORIGINS.each do |origin| %>
                        <div class="tag-item">
                          <%= form.radio_button :origin, origin, id: "origin_#{origin}" %>
                          <label for="origin_<%= origin %>"><%= origin %></label>
                        </div>
                      <% end %>
                    </div>
                  </div>

                  <!-- Méthode de préparation -->
                  <div class="form-group">
                    <%= form.label :brewing_method, "Quelle est ta méthode de préparation préférée ?" %><br>
                    <div class="tag-wrapper">
                      <% Coffee::BREWING_METHODS.each do |brewing_method| %>
                        <div class="tag-item">
                          <%= form.radio_button :brewing_method, brewing_method, id: "brewing_method_#{brewing_method}" %>
                          <label for="brewing_method_<%= brewing_method %>"><%= brewing_method %></label>
                        </div>
                      <% end %>
                    </div>
                  </div>

                  <!-- Boutons -->
                  <div class="form-group mb-4">
                    <%= form.submit "Enregistrer", class: "btn btn-save" %>
                    <%= link_to "Remettre à plus tard", coffees_path, class: "btn btn-later ml-2" %>
                  </div>

                <% end %>
              </div>
            </div>
          </div>
        </div>

      <% else %>
        <!-- Contenu pour les utilisateurs non connectés -->
        <div class="home-page-unauthenticated">
          <div class="content-wrapper d-flex flex-column justify-content-between">
            <div class="unconnect">
              <h1>Bienvenue sur BARIST’APP</h1>
              <p class="lead">L’appli incontournable pour tous les amateurs de café. Trouvez des cafés adaptés à vos goûts avec notre recherche intuitive.</p>
              <p class="lead">Rejoignez notre communauté et transformez chaque dégustation en aventure !</p>
            </div>
            <div class="button-wrapper">
              <%= link_to 'S\'inscrire', new_user_registration_path, class: "btn-custom" %>
              <%= link_to 'Se connecter', new_user_session_path, class: "btn-custom" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- Script pour recharger la page et afficher le modal automatiquement -->
<% if user_signed_in? %>
  <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
      // Vérifie si la page a déjà été rechargée
      if (!sessionStorage.getItem('reloaded')) {
        sessionStorage.setItem('reloaded', 'true');
        location.reload();
      } else {
        // Ouvre le modal après le rechargement avec les options pour empêcher la fermeture
        var coffeeModal = new bootstrap.Modal(document.getElementById('coffeePreferencesModal'), {
          backdrop: 'static',
          keyboard: false
        });
        coffeeModal.show();
      }
    });
  </script>
<% end %>
