<div class="container-fluid d-flex align-items-center justify-content-center full-height <%= user_signed_in? ? 'authenticated-background' : 'home-page-unauthenticated' %>">
  <div class="row justify-content-center w-100">
    <div class="col-12">
      <% if user_signed_in? %>
       <p class="lead welcome">Bienvenue <%= current_user.user_name %> !</p>
        <div class="custom-background">
         
          <h2 class="card-title text-center">Choisissez vos préférences de café</h2>

          <%= form_with(url: coffees_path, method: :get, local: true, class: "mt-3") do |form| %>
            
            <!-- Type de machine -->
            <div class="form-group">
              <%= form.label :machin_type, "Quelle machine à café utilises-tu ?" %><br>
              <div class="tag-wrapper">
                <% Coffee::MACHINS_TYPE.each do |machin_type| %>
                  <div class="tag-item">
                    <%= form.radio_button :machin_type, machin_type, id: "machin_type_#{machin_type}" %>
                    <label for="machin_type_<%= machin_type %>"><%= machin_type %></label>
                  </div>
                <% end %>
              </div>
            </div>

            <!-- Type de café -->
            <div class="form-group">
              <%= form.label :coffee_type, "Quel style de café préfères-tu ?" %><br>
              <div class="tag-wrapper">
                <% Coffee::COFFEES_TYPE.each do |coffee_type| %>
                  <div class="tag-item">
                    <%= form.radio_button :coffee_type, coffee_type, id: "coffee_type_#{coffee_type}" %>
                    <label for="coffee_type_<%= coffee_type %>"><%= coffee_type %></label>
                  </div>
                <% end %>
              </div>
            </div>

            <!-- Origine du café -->
            <div class="form-group">
              <%= form.label :coffee_origin, "Quelles origines de café préfères-tu ?" %><br>
              <div class="tag-wrapper">
                <% Coffee::ORIGINS.each do |origin| %>
                  <div class="tag-item">
                    <%= form.radio_button :origin, origin, id: "origin_#{origin}" %>
                    <label for="origin_<%= origin %>"><%= origin %></label>
                  </div>
                <% end %>
              </div>
            </div>

            <!-- Méthode de préparation -->
            <div class="form-group">
              <%= form.label :brewing_method, "Quelle est ta méthode de préparation préférée ?" %><br>
              <div class="tag-wrapper">
                <% Coffee::BREWING_METHODS.each do |brewing_method| %>
                  <div class="tag-item">
                    <%= form.radio_button :brewing_method, brewing_method, id: "brewing_method_#{brewing_method}" %>
                    <label for="brewing_method_<%= brewing_method %>"><%= brewing_method %></label>
                  </div>
                <% end %>
              </div>
            </div>

            <!-- Boutons -->
           <div class="form-group mb-4">
  <%= form.submit "Enregistrer", class: "btn btn-save" %>
  <%= link_to "Remettre à plus tard", coffees_path, class: "btn btn-later ml-2" %>
</div>

          <% end %>
        </div>
      <% else %>
        <!-- Contenu pour les utilisateurs non connectés -->
        <div class="home-page-unauthenticated">
          <div class="content-wrapper d-flex flex-column justify-content-between">
            <div class="unconnect">
              <h1>Bienvenue sur BARIST’APP</h1>
              <p class="lead">L’appli incontournable pour tous les amateurs de café. Trouvez des cafés adaptés à vos goûts avec notre recherche intuitive.</p>
              <p class="lead">Rejoignez notre communauté et transformez chaque dégustation en aventure !</p>
            </div>
            <div class="button-wrapper">
              <%= link_to 'S\'inscrire', new_user_registration_path, class: "btn-custom" %>
              <%= link_to 'Se connecter', new_user_session_path, class: "btn-custom" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
