<div class="container my-4">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="card">
        <div class="card-body">
          <h1 class="text-center mb-4">Votre Panier</h1>

          <table class="table table-striped">
            <thead>
              <tr>
                <th>Café</th>
                <th>Quantité</th>
                <th>Prix</th>
                <th>Total</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @cart.cart_items.each do |item| %>
                <tr>
                  <td><%= item.coffee.name %></td>
                  <td>
                    <%= form_with url: cart_update_cart_path(cart_id: @cart.id, id: item.id), method: :patch, local: true do |form| %>
                      <%= form.number_field :quantity, value: item.quantity, min: 1, class: "form-control" %>
                      <%= form.submit "Modifier", class: "btn btn-link p-0 ml-2 text-decoration-none" %>
                    <% end %>
                  </td>
                  <td><%= number_to_currency(item.coffee.price) %></td>
                  <td><%= number_to_currency(item.quantity * item.coffee.price) %></td>
                  <td>
                    <%= form_with url: cart_update_cart_path(cart_id: @cart.id, id: item.id), method: :patch, local: true, html: { class: 'd-inline' } do |form| %>
                      <%= form.submit "", class: "btn btn-link p-0 ml-2 text-decoration-none", style: "color: #6F4E37;", data: { toggle: "tooltip", placement: "top", title: "Modifier" } do %>
                        <i class="fa fa-pencil-alt"></i>
                      <% end %>
                    <% end %>
                    <%= button_to cart_remove_cart_path(cart_id: @cart.id, id: item.id), method: :delete, class: "btn btn-link p-0 ml-2 text-decoration-none", style: "color: #6F4E37;", data: { toggle: "tooltip", placement: "top", title: "Supprimer" } do %>
                      <i class="fa fa-trash"></i>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>

          <h3 class="text-center my-4">Total: <%= number_to_currency(@cart.total_price) %></h3>

          <div class="text-center">
            <%= button_to cart_checkout_cart_path(cart_id: @cart.id), method: :post, class: "btn-custom btn-lg mb-4" do %>
              Valider le panier
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
