<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BARIST'APP | UN CAFÉ, UNE HISTOIRE!</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="preload" href="path/to/your/background-image.jpg" as="image">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= javascript_importmap_tags %>
  <%= favicon_link_tag %>
</head>
<body class="d-flex flex-column min-vh-100">

  <% unless current_page?('/') %>
    <%= render 'shared/navbar' %>
  <% end %>

  <main class="flex-grow-1">
    <%= render "shared/flashes" %>
    <%= yield %>
  </main>

  <% unless current_page?('/') %>
    <%= render 'shared/footer' %>
  <% end %>
</body>
</html>
